#profilAll{
	margin-left:10%;
	margin-right:10%;
	background-color:white;
}

#profilDaten{
	width:550px;
	height:250px;
}

#profilDatenBesch{
	width:250px;
	height:150px;
	left:650px;
	top:180px;
	position:absolute;
	background-color:green;
}

#profildiv{
	height:350px;
	padding-top:25px;
	background-color:yellow;
}

#profilBListe{
	width:500px;
	height:350px;
	background-color:red;
	float:left;
}

#profilStatWetten{
	width:500px;
	height:350px;
	background-color:blue;
	float:right;
}

#profilStatTeamWetten{
	background-color:orange;
}